@{
  Layout = "_Layout";
}

@using VendorTracker.Models

<div class="container">
  <h1>Vendor Information</h1>
  <h3>Edit Information for @Model.Name</h3>
</div>

<div class="container">
  <form action="/vendors/@Model.Id" method="post">
    <label for="newName">Vendor's Name:</label>
    <br />
    <input id="newName" name="newName" type="text" placeholder="@Model.Name" required>
    <br />
    <label for="newDescription">Vendor's Description:</label>
    <br />
    <input id="newDescription" name="newDescription" type="text" placeholder="@Model.Description" required>
    <br />
    <br />
    <button type="submit" class="btn btn-success">Update Vendor</button>
  </form>

  <br/>
  
  <form action="/vendors/@Model.Id/delete" method="post">
    <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
    <button type="submit" class="btn btn-danger">Delete Vendor</button>
  </form>
</div>

<div class="links container">
  <h5><a href="/vendors/@Model.Id">Back to Vendor Page for @Model.Name</a></h5>
  <h5><a href="/vendors">Back to Vendors</a></h5>
</div>